.App {
  text-align: center;
}

.divTrans {
  margin-top: "7%";
}

.bg {
  min-height: 800px;
  background-image: "LogoRocket.png";
  /* background-image: linear-gradient(160deg, white 70%, #acd7ec 30%); */
}

.logoClass {
  text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #78c3fb, 0 0 0.05em #78c3fb,
    0 0 0.05em #78c3fb, 0 10px 3px #000;
  color: #e1efe6;
}

.App-logo {
  height: 40vmin;
}

.pStyle1 {
  font-weight: 700;
  text-align: "center";
  font-family: "Ubuntu", sans-serif;
}

.pStyle5 {
  font-weight: 500;
  /* padding: 12%; */
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 5%;
  /* padding-bottom: 5%; */
  font-family: "Ubuntu", sans-serif;
  /* max-width: 150px; */
}

.pStyle2 {
  font-weight: 500;
  /* padding: 12%; */
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Ubuntu", sans-serif;
  /* max-width: 150px; */
}
.pStyle4 {
  font-weight: 500;
  /* padding: 12%; */
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 5%;
  padding-bottom: 2%;
  font-family: "Ubuntu", sans-serif;
  /* max-width: 150px; */
}

.spanStyle1 {
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.buttonStyle1 {
  color: "#E8F7EE";
  /* font-family: "Ubuntu", sans-serif; */
}

.pStyle3 {
  font-weight: 700;
  margin-bottom: "3%";
}

.gridStyle1 {
  margin-top: "2%";
}

.pStyle4 {
  font-size: "16px";
  font-weight: 500;
}

.divStyle1 {
  padding: "20px";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.textField1 {
  margin: 8;
  -webkit-box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
  -moz-box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
  box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
}

.card {
  min-width: 275;
  -webkit-box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
  -moz-box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
  box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
}

.gridContainer {
  margin-top: 8%;
  padding-right: 25px;
  padding-left: 25px;
  background: "transparent";
}

.bld {
  font-weight: 500;
}

/* #loadStyle {
  position: absolute;
  margin: 18% 25% auto;
  color: white;
}

@media only screen and (min-width: 200px) {
  #loadStyle {
    margin: 33% 8% auto;
    color: white;
  }
}

@media only screen and (min-width: 600px) {
  #loadStyle {
    margin: 20% 26% auto;
    color: white;
  }
}

@media only screen and (min-width: 1300px) {
  #loadStyle {
    margin: 15% 28% auto;
    color: white;
  }
}

@media only screen and (min-width: 1500px) {
  #loadStyle {
    margin: 15% 35% auto;
    color: white;
  }
}

@media only screen and (min-width: 2000px) {
  #loadStyle {
    margin: 15% 33% auto;
    color: white;
  }
}

#clockClass {
  position: absolute;
  margin: 10% 36% auto;
}

@media only screen and (max-width: 500px) {
  #clockClass {
    position: absolute;
    margin: 15% 31% auto;
    color: white;
  }
}

@media only screen and (min-width: 1500px) {
  #clockClass {
    position: absolute;
    margin: 10% 41% auto;
    color: white;
  }
}

@media only screen and (min-width: 2000px) {
  #clockClass {
    position: absolute;
    margin: 10% 40% auto;
    color: white;
  }
} */
