.App {
  text-align: center;
}

#nav {
  background: none;
  box-shadow: none;
}

.loadDiv {
  width: 100%;
  margin: 0 auto;
}

.divTrans {
  padding-bottom: 15px;
  margin-top: 5%;
}

.bg {
  min-height: 800px;
  background-image: "LogoRocket.png";
}

.logoClass {
  text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #78c3fb, 0 0 0.05em #78c3fb,
    0 0 0.05em #78c3fb, 0 10px 3px #000;
  color: #e1efe6;
  font-family: Black Ops One, cursive;
  margin-top: 3%;
  font-size: 38px;
}

.App-logo {
  height: 40vmin;
}

.pStyle1 {
  font-weight: 700;
  text-align: "center";
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-shadow: 1px 2px black;
}

.pStyle5 {
  font-weight: 500;
  /* padding: 12%; */
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 5%;
  font-family: "Ubuntu", sans-serif;
}

.pStyle2 {
  font-weight: 500;
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Ubuntu", sans-serif;
}
.pStyle4 {
  font-weight: 500;
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 5%;
  padding-bottom: 2%;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 1px 1px #87ccee;
}

.spanStyle1 {
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 1px 1px #87ccee;
}

.pStyle3 {
  font-weight: 700;
  margin-bottom: "3%";
}

.mvpSpan {
  color: #87ccee;
}

.gridStyle1 {
  margin-top: "2%";
}

.pStyle4 {
  font-size: "16px";
  font-weight: 500;
}

.divStyle1 {
  padding: "20px";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.textField1 {
  margin: 8;
  -webkit-box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
  -moz-box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
  box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
}

.card {
  min-width: 275;
  -webkit-box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
  -moz-box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
  box-shadow: 3px 3px 6px -3px rgba(135, 134, 161, 1);
}

.gridContainer {
  margin-top: 8%;
  padding-right: 25px;
  padding-left: 25px;
  background: "transparent";
}

.bld {
  font-weight: 500;
}

.imgStyle1 {
  height: 35px;
}

@media only screen and (max-width: 500px) {
  #imgStyle1 {
    margin-right: 30%;
  }
  #logoClassGrid {
    margin-top: 15%;
  }
  #navAddress {
    word-wrap: break-word;
  }
}
